Loaded: {{getTimeLoaded(3) | date:'medium'}}

    <div class="flex items-center justify-center h-screen overflow-hidden" style="background: #edf2f7;">

      <div class="font-sans antialiased bg-gray-200">
        <div class="container px-4 mx-auto sm:px-8">
          <div class="py-8">
            <div>
              <h2 class="text-2xl font-semibold leading-tight">Staff</h2>
            </div>
            <div class="flex flex-col my-2 sm:flex-row">
              <div class="flex flex-row mb-1 sm:mb-0">
                <div class="relative">
                  <select
                    class="block w-full h-full px-4 py-2 pr-8 leading-tight text-gray-700 bg-white border border-gray-400 rounded-l appearance-none focus:outline-none focus:bg-white focus:border-gray-500">
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                  </select>
                  <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                  </div>
                </div>
                <div class="relative">

                  <div class="absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 pointer-events-none">
                    <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="relative block">
                <span class="absolute inset-y-0 left-0 flex items-center h-full pl-2">
                  <svg viewBox="0 0 24 24" class="w-4 h-4 text-gray-500 fill-current">
                    <path
                      d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                    </path>
                  </svg>
                </span>
                <input placeholder="Search"
                  class="block w-full py-2 pl-8 pr-6 text-sm text-gray-700 placeholder-gray-400 bg-white border border-b border-gray-400 rounded-l rounded-r appearance-none sm:rounded-l-none focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
              </div>
            </div>
            <mat-form-field>
              <mat-label>Select Staff </mat-label>
              <mat-select [formControl]="staffControlForm" multiple>
                <mat-select-trigger>
                  {{staffControlForm.value ? staff.value[0] : ''}}
                  <span *ngIf="staffControlForm.value?.length > 1" class="example-additional-selection">
                    (+{{staffControlForm.value.length - 1}}
                    {{staffControlForm.value?.length === 2 ? 'other' : 'others'}})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let user of staff" [value]="user">{{user}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <a class="text-blue-700" mat-button>
              <mat-icon>add_circle</mat-icon>Add Staff To This Project
            </a>
            <div class="px-4 py-4 -mx-4 overflow-x-auto sm:-mx-8 sm:px-8">
              <div class="inline-block min-w-full overflow-hidden rounded-lg shadow">
                <table class="min-w-full leading-normal">
                  <thead>
                    <tr>
                      <th
                        class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
                        Full Name
                      </th>
                      <th
                        class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
                        Age
                      </th>
                      <th
                        class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
                        Rôle
                      </th>

                      <th
                        class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
                        E-mail
                      </th>

                      <th
                        class="px-5 py-3 text-xs font-semibold tracking-wider text-left text-gray-600 uppercase bg-gray-100 border-b-2 border-gray-200">
                        Phone
                      </th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                        <div class="flex items-center">

                          <div class="ml-3">

                            <p class="text-gray-900 whitespace-no-wrap">
                              <span class="dotg"></span> Mouhamed JBELI
                            </p>
                          </div>
                        </div>
                      </td>
                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">



                        35

                      </td>
                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">



                        Architect

                      </td>

                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">



                        med@yahoo.fr

                      </td>
                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">



                        22569987

                      </td>
                      <td class="px-5 py-5 text-sm text-green-600 bg-white border-b border-gray-200">
                        <a mat-button>
                          <mat-icon> call</mat-icon>
                        </a>
                      </td>
                      <td class="px-5 py-5 text-sm text-gray-600 bg-white border-b border-gray-200">

                        <a mat-button [matMenuTriggerFor]="tasks1">
                          <mat-icon> list_alt</mat-icon> Show affected tasks
                        </a>
                        <mat-menu #tasks1="matMenu">

                          <button mat-menu-item>
                            <mat-icon>add_circle</mat-icon>Affect task
                          </button>
                        </mat-menu>

                      </td>


                    </tr>

                    <tr>
                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">
                        <div class="flex items-center">

                          <div class="ml-3">

                            <p class="text-gray-900 whitespace-no-wrap">
                              <span class="dotb"></span> Ahmed NACEUR
                            </p>
                          </div>
                        </div>
                      </td>
                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">



                        28

                      </td>
                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">



                        Construction Worker

                      </td>

                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">



                        ahmed@gmail.com

                      </td>
                      <td class="px-5 py-5 text-sm bg-white border-b border-gray-200">



                        22569987

                      </td>
                      <td class="px-5 py-5 text-sm text-green-600 bg-white border-b border-gray-200">
                        <a mat-button>
                          <mat-icon> call</mat-icon>
                        </a>
                      </td>
                      <td class="px-5 py-5 text-sm text-gray-600 bg-white border-b border-gray-200">
                        <a mat-button [matMenuTriggerFor]="tasks2">
                          <mat-icon> list_alt</mat-icon> Show affected tasks
                        </a>
                        <mat-menu #tasks2="matMenu">
                          <button mat-menu-item>Preparing construction site</button>
                          <button mat-menu-item>Assisting contractors</button>
                          <button mat-menu-item>
                            <mat-icon>add_circle</mat-icon>Affect task
                          </button>
                        </mat-menu>
                      </td>


                    </tr>
                  </tbody>
                </table>
                <div class="flex flex-col items-center px-5 py-5 bg-white border-t xs:flex-row xs:justify-between ">

                  <div class="inline-flex mt-2 xs:mt-0">
                    <button
                      class="px-4 py-2 text-sm font-semibold text-gray-800 bg-gray-300 rounded-l hover:bg-gray-400">
                      Prev
                    </button>
                    <button
                      class="px-4 py-2 text-sm font-semibold text-gray-800 bg-gray-300 rounded-r hover:bg-gray-400">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


