#win{
    height:40vh;
    overflow-y: scroll;
}

h3 {
    display: block;
	font: 1rem 'Fira Sans', sans-serif;
	font-family: cursive;
  	color:#110836;
	  position: relative;
}

input,
label {
    margin: .4rem 0;
}

small{
font-family: "cursive"
}

.bouton {
	border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#000;
	font:bold 13px Arial;
	color:#fff;
}