<div class="container flex flex-col
sm:flex-col md:flex-col lg:flex-col xl:flex-col">
    <div class="w-full flex justify-center flex-row
    sm:flex-col md:flex-col lg:flex-col xl:flex-row">
        <mat-card class="w-1/2 items-center flex flex-col">
            <div class="text-center shadow-md py-5 bg-gray-100">
                <mat-card-header>
                    <div class="w-1/2 text-gray-800">
                        <mat-card-title>Phone</mat-card-title>
                        <mat-card-subtitle>+216 24 23 08 65</mat-card-subtitle>
                        <mat-card-title>Email</mat-card-title>
                        <mat-card-subtitle>aslenerazor@gmail.com</mat-card-subtitle>
                        <mat-card-title>Local</mat-card-title>
                        <mat-card-subtitle>Mahdia centre - Mahdia</mat-card-subtitle>
                    </div>
                    <div class="vl w-1/2">
                        <mat-card-title>Facebook</mat-card-title>
                        <a href="https://www.facebook.com">
                            <mat-card-subtitle>chanti.tn</mat-card-subtitle>
                        </a>
                       
                    </div>
                </mat-card-header>
            </div>
            <div class="contact-map px-2 py-4 rounded">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3247.9749763702316!2d11.050973213573934!3d35.504896981188445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130223ef5de87905%3A0x37a08600f7cc2822!2sagence%20EL%20HANA%20ORPI%20immeuble%20elborj%203%20%C3%A8me%20%C3%A9tage!5e0!3m2!1sfr!2stn!4v1593682065060!5m2!1sfr!2stn" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </mat-card>
        

            
<!-- TODO tree fixed the compoinment about us and implement the cart map-->