<div class="site-header">
<div class="pt-24">

    <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <!--Left Col-->
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">

            <h1 class="font-serif my-4 font-bold leading-tight text-yellow-200">Chanti</h1>
            <p class="font-serif text-2xl text-gray-100 text-centerl">Avec le gestionnaire de chantier "Chanti" , vous
                pouvez contrôler et faire la coordination entre les tâches de votre projet de construction.</p>

            <button [routerLink]='["/front/signin"]'class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                Commencer
            </button>




        </div>
        <!--Right Col-->
        <div class="w-full md:w-3/5 py-6 text-center">
            
        </div>

    </div>

</div>
</div>






<section class="bg-white border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">



        <div class="flex justify-center flex-row">
            <div class="w-5/6 sm:w-1/2 p-6">
                
                <div class="w-full mb-4">
                    <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
                    <h1 class="font-serif text-lg text-gray-800 text-centerl">Comment ça fonctionne
                    </h1>
                    <video width="720" height="480" controls>
                        <source src="assets\videos\Placeholder Video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                </div>
            </div>
            </div>
            </div>
            </section>
            