<footer>
    <div class="gl-footer-bottom-wrapper">
        <div class="container">
            <div class="row">
                <!-- COPYRIGHT INFO -->
                <div class="gl-copyright-info-wrapper font-bold text-gray-900">
                    <p>
                        Copyright &copy; chanti.tn 2020.All rights reserved Powred By Aslene
                    </p>
                </div>
                <!-- COPYRIGHT INFO -->
            </div>
        </div>
    </div>
    <!-- END -->
</footer>