<!DOCTYPE html>
<html lang="en">



<body class="bg-gray-900 font-sans leading-normal tracking-normal ">





    <div class="main-content flex-1 p-2 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">

        <div class="bg-blue-800  shadow text-xl text-white ">
            <h3 class="font-bold pl-2">Analytics</h3>
        </div>

        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">


                <!--/Metric Card-->
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Metric Card-->
                <div class="bg-orange-100 border-b-4 border-orange-500 rounded-lg shadow-lg p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded-full p-5 bg-orange-600 text-white"><i
                                    class="fas fa-users fa-2x fa-inverse">
                                    <mat-icon>group</mat-icon>
                                </i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Total Users</h5>
                            <h3 class="font-bold text-3xl">249 <span class="text-orange-500"><i
                                        class="fas fa-exchange-alt"></i></span></h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">

                <!--/Metric Card-->
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Metric Card-->
                <div class="bg-blue-100 border-b-4 border-blue-500 rounded-lg shadow-lg p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded-full p-5 bg-blue-600 text-white"><i
                                    class="fas fa-server fa-2x fa-inverse">
                                    <mat-icon>router</mat-icon>
                                </i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Server Uptime</h5>
                            <h3 class="font-bold text-3xl">152 days</h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Metric Card-->
                <div class="bg-indigo-100 border-b-4 border-indigo-500 rounded-lg shadow-lg p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded-full p-5 bg-indigo-600 text-white"><i
                                    class="fas fa-tasks fa-2x fa-inverse">
                                    <mat-icon>person_add</mat-icon>
                                </i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-600">new users</h5>
                            <h3 class="font-bold text-3xl">2</h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
            <div class="w-full md:w-1/2 xl:w-1/3 p-3">
                <!--Metric Card-->
                <div class="bg-red-100 border-b-4 border-red-500 rounded-lg shadow-lg p-5">
                    <div class="flex flex-row items-center">
                        <div class="flex-shrink pr-4">
                            <div class="rounded-full p-5 bg-red-600"><i
                                    class="fas fa-inbox fa-2x fa-inverse text-white">
                                    <mat-icon>announcement</mat-icon>
                                </i></div>
                        </div>
                        <div class="flex-1 text-right md:text-center">
                            <h5 class="font-bold uppercase text-gray-600">Issues</h5>
                            <h3 class="font-bold text-3xl">3 <span class="text-red-500"><i
                                        class="fas fa-caret-up"></i></span></h3>
                        </div>
                    </div>
                </div>
                <!--/Metric Card-->
            </div>
        </div>


        <!--Graph Card-->
        <div class="bg-white border-transparent rounded-lg shadow-lg">
            <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2 content-center">
                <h5 class="font-bold uppercase text-gray-600">User Growth</h5>
            </div>
            <div class="content-center w-1/3 p-2">
            <figure class="pie-chart">
                
                <figcaption>
                    January<span style="color:#4e79a7"></span><br>
                    February<span style="color:#f28e2c"></span><br>
                    March<span style="color:#e15759"></span><br>
                    April<span style="color:#76b7b2"></span><br>
                    May<span style="color:#59a14f"></span><br>
                    June<span style="color:#edc949"></span>
                </figcaption>
                
            </figure>
        </div>
        </div>
        <!--/Graph Card-->
        
        
    </div>


    


    <script>
        /*Toggle dropdown list*/
        function toggleDD(myDropMenu) {
            document.getElementById(myDropMenu).classList.toggle("invisible");
        }
        /*Filter dropdown options*/
        function filterDD(myDropMenu, myDropMenuSearch) {
            var input, filter, ul, li, a, i;
            input = document.getElementById(myDropMenuSearch);
            filter = input.value.toUpperCase();
            div = document.getElementById(myDropMenu);
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    a[i].style.display = "";
                } else {
                    a[i].style.display = "none";
                }
            }
        }
        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
                var dropdowns = document.getElementsByClassName("dropdownlist");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (!openDropdown.classList.contains('invisible')) {
                        openDropdown.classList.add('invisible');
                    }
                }
            }
        }
    </script>


</body>

</html>