<div class="container w-screen h-screen ">
  <mat-tab-group>
    <mat-tab label="Materials">
      <ng-template matTabContent>
        <app-material-tab [materialList]="currentMaterials"></app-material-tab>
      </ng-template>
    </mat-tab>

    <mat-tab label="Tasks">
      <ng-template matTabContent>
        <app-tasks-tab [taskList]="currentTasks"></app-tasks-tab>
      </ng-template>
    </mat-tab>

    <mat-tab label="Affected Staff">
      <ng-template matTabContent>
        <app-staff-tab [staffList]="currentStaff" [allUsers]="users"></app-staff-tab>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>
